
  
body {
    
    background: #000 url("https://photos-5.dropbox.com/t/2/AABi0IVK7feb9Ku7GotiAIMmexvl5Tllr3GCJocihi5BKw/12/426056384/jpeg/256x256/1/_/1/2/Photo%2030-07-2016%2C%205%2050%2005%20AM.jpg/EPP8g7YDGP4NIAIoAg/EB5f_1MU42SRAcF3Us9n6tYgM58fob02yhbbHHZQFe8?size_mode=3&size=2048x1536") ;
    margin: 0;
    background-size: cover;

}


/*init menu*/		
ul.menu 
{
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #f1f1f1;
    position: fixed;
    bottom: 0;
    width: 100%;
  
}	


ul.menu li a 
{
    text-align: center;
    display: block;
    color: #000;
    padding: 5px 1px;
    text-decoration: none;
    
    /*font*/
    background: #fe921f; 
    color: #ffffff;  
    font-family: 'Lato', sans-serif; 
    font-size: 12px; 
    font-weight: bold; 
    line-height: 12px; 
    letter-spacing: 15px;  
    padding: 10px 15px 8px; 
    text-transform: uppercase; 
  
}		

/* init active option*/
ul.menu li a.active
{
    background-color: #4CAF50;
    color: white;
}

/*mouse sensor*/
ul.menu li a:hover:not(.active)
{
    background-color: #555;
    color: white;
}

/*context*/
div.context {
    margin-left: 25%;
    margin-top: 3%;
    padding: 1px 16px;
    height: 1000px;
}

#name { color: #111; font-family: 'Open Sans Condensed', sans-serif; font-size: 64px; font-weight: 700; line-height: 64px; margin: 0 0 0; padding: 20px 30px; text-align: center; text-transform: uppercase;}


hr {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}

.information {  }